
/* GLOBAL STYLES */

body {
	font-family: "Space Grotesk", sans-serif;
	color: #53444B;
	background-color: #F4EDE4;
}

main {
	overflow: hidden;
}


/* ----BACKGROUNDS---- */

.background-black {
	background-color: #2E2A27;
}

.background-main{
	background-color: #F4EDE4;

}

.background-second{
	background-color: #E5DFD3;

}





/* ----TEXT MODIFIERS ----*/

/* Main Styles */

h1 {
	font-size: 80px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #B45F39;
}

h2 {
	font-size: 52px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #B45F39;

}

h3 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 500;
	letter-spacing: -2px;
	color: #2E2A27;

}

h4 {
	font-size: 80px;
	line-height: 100%;
	font-weight: 500;
	letter-spacing: -2px;
	color: #B45F39;
	margin-top: 40px;
	margin-left: 56px;

}

h5 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 420;
	letter-spacing: -2px;
	color: #B45F39;
	margin-top: 40px;
	margin-left: 56px;

}

h6 {
	font-size: 32px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #2E2A27;

}

h7 {
   	font-size: 36px;
	line-height: 100%;
	font-weight: bold;
	letter-spacing: -2px;
	color: #B45F39;


}

h8 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 420;
	letter-spacing: -2px;
	color: #B45F39;
	margin-top: 40px;
	margin-left: 56px;
	text-align: center;

}


p {
	font-size: 32px;
	line-height: 100%;
	font-weight: 300;
	letter-spacing: -2px;
	color: #2E2A27;
}

.paragraph-lg1 {
	font-size: 32px;
	line-height: 100%;
	font-weight: regular;
	letter-spacing: -1px;
	color: #2E2A27;
}

.paragraph-lg2 {
	font-size: 32px;
	line-height: 100%;
	font-weight: regular;
	letter-spacing: -1px;
	margin-left: 0px;
	color: #2E2A27;
}

.paragraph-lg3{
	font-size: 32px;
	line-height: 100%;
	font-weight: regular;
	letter-spacing: -1px;
	color: #2E2A27;
	margin-top: 10px;
}

.paragraph-lg4{
	font-size: 24px;
	line-height: 100%;
	font-weight: regular;
	letter-spacing: -1px;
	color: #2E2A27;
	margin-top: 10px;
	text-align: center;

}


.paragraph-firing {
	font-size: 32px;
	line-height: 100%;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -1px;
	color: #2E2A27;

}

.paragraph-contact {
	font-size: 32px;
	line-height: 100%;
	font-weight: 300;
	line-height: 3;
	letter-spacing: -1px;
	margin-top: 55px;
	color: #2E2A27;

}

.paragraph-hours {
	font-size: 32px;
	line-height: 100%;
	font-weight: 300;
	line-height: 2;
	letter-spacing: -1px;
	margin-top: 55px;
	color: #2E2A27;

}




/* Text Colour */

.text-white {
	color: #CCCCCC;
	font-size: 15.5px;
}

.text-white-2 {
	color: #CCCCCC;
	font-size: 15.5px;
	letter-spacing: 1px;
}

.text-white-3 {
	color: #CCCCCC;
	font-size: 40px;
	font-weight: bold;
}

.text-list {
	font-size: 36px;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: -2px;
	margin-left: auto;
	margin-bottom: 37px;
	color: #2E2A27;


}

.text-list-2 {
	font-size: 24px;
	line-height: 100%;
	font-weight: 200;
	letter-spacing: -2px;
	margin-bottom:23px;
	color: #2E2A27;
	

}

.text-list-3 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: -2px;
	color: #2E2A27;
	text-align: center;
	display: block;
	margin-top: 27px;


}


.text-list-4 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: -2px;
	color: #2E2A27;
	text-align: center;
	display: block;
	margin-top: 29px;

}


.text-list-5 {
	font-size: 36px;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: -2px;
	color: #2E2A27;
	text-align: center;
	display: block;
	margin-top: 29px;



}

.text-description {
	font-size: 28px;
	line-height: 100%;
	font-weight: 200;
	letter-spacing: -2px;
	margin-bottom:23px;
	color: #2E2A27;
	text-align: center;
	display: block;
	margin-top: 8px;
	

}


section h2 {
	margin-bottom: 39px;
}


/* Navigation */


.nav-wrap {
	display: flex;
	margin: auto;
	padding: 16px 32px;
	align-items: center;
	justify-content: flex-start;
	gap: 48px;

}

.nav-link {
	color: #CCCCCC;
	font-size: 24;
	font-weight: 600;

}

.logo {
	font-size: 52px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #CCCCCC;
}

.menu ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 67px;
	margin-left: auto;
}


.menu {
	display: flex;
	margin-left: auto;
}

.button {
	display: inline-block;
	color: #2E2A27;
	padding: 12px 20px;
	background-color: #B45F39;
	text-decoration: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 28px;
	transition: background 0.2s ease;
	border: none;
}

.button-2 {
	color: #2E2A27;
	padding: 12px 20px;
	background-color: #B45F39;
	text-decoration: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 28px;
	transition: background 0.2s ease;
	border: none;
	text-align: center;
	display: block;
	width: 262px;
	margin: auto;
	margin-top: -67px;


}

.button-3 {
	height: ;
	display: inline-block;
	color: #2E2A27;
	padding: 5px 10px;
	background-color: #B45F39;
	text-decoration: none;
	border-radius: 0px;
	font-weight: bold;
	font-size: 28px;
	transition: background 0.2s ease;
	border: none;
}






/* ----INDIVIDUAL STYLES---- */

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
	top: 0;
	left: 0;

}

.hero-img {
	width: 100%;
	overflow: hidden;
}


.hero-icon {
	display: block;
	width: 100%;
	height: 336px;
	object-fit: cover;

}

.hero-icon-2 {
	display: block;
	width: 100%;
	height: 262px;
	object-fit: cover;

}



.hero-text {
	text-align: left;
	top: 50%;
	left: 50%;
}


.about-padding {
	padding: 15px 0px 30px 0px;
}

.services-padding {
	padding: 0 60px ;
}

.custom-padding {
	padding: 0 60px ;
}


.classes-padding {
	padding: 0 60px ;
	margin-top: 26px;
	margin-bottom: 40px;

}

.experience-padding {
	padding: 0 60px ;
	padding-bottom: 50px;

}

.questions-padding {
	padding: 0 60px ;
	padding-bottom: 50px;

}

.firing-padding {
	padding: 0 60px ;
}

.touch-padding {
	padding: 0 60px ;
}

.card {
	margin-bottom: 40px;
}

.card-img-wrap {
	width: 100%;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 200px 200px 0 0;
	margin-bottom: 24px;
}

.card-img {
	display: block;
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0;

}

.card-img-wrap-2 {
	width: 363px;
	height: 320px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 200px 200px 0 0;
	margin: 0 auto 24px;
}

.card-img-2 {
	display: block;
	object-fit: cover;
	max-width: 100%;
	height: 349px;
	padding: 0;

}

.card-text {
	text-align: center;
	margin-top: 8px;
}

.card-shop {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;

}

.card-img-shop {
	width: 463px;
	height: 396px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 100px 100px 0 0;
	margin-top: 107px;
	margin-bottom: 12px;
	margin-left: -85px;
}

.gallery-row {
	display: flex;
	align-items: flex-start;
	margin-top: 40px;
	justify-content: space-between;

}

.gallery-row .col:last-child {
display: flex;
justify-content: flex-end;

}

.card-gallery {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;

}

.firing-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

}

.card-img-gallery {
	width: 463px;
	height: 396px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 100px 100px 0 0;
	margin-top: 128px;
	margin-right: 56px;
	margin-bottom: 24px;
	

}

.card-classes {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;

}

.card-img-classes {
	width: 463px;
	height: 503px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 100px 100px 0 0;
	margin-top: 181px;
	margin-right: 58px;
	margin-left: 185px;
	margin-bottom: 24px;
	overflow: visible;
	align-items: center;
	

}


.card-exp {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;

}

.card-img-exp {
	width: 463px;
	height: 503px;
	aspect-ratio: 4 / 5;
	border-radius: 100px 100px 0 0;
	margin-top: 124px;
	margin-left: -85px;
	display: flex;
	align-items: center;
	flex-direction: column;
	

}



.card-image-2 {
width: 70px;
height: 70px;
object-fit: contain;
display: block;
margin: 0 auto 18px;
}

.card-text-2 {
	border-bottom: 4px solid #000000;
	height: 240px;
	display: flex;
	justify-content: flex-start;
	position: relative;
	padding-bottom: 25px;
	text-align: center;


}



.footer-meta {
	margin: 25;
}


.footer-padding {
	padding-top: 48px;
}


.classes-row h2,h5{
	margin: 0 0 20px;
	padding-top: 20;

}




.card-firing {
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
	padding: 0;

}

.card-img-firing {
	display: flex;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 47px;
	width: 463px;
	height: 377px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 100px 100px 0 0;

	
}

.card-custom {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;

}

.card-img-custom {
	width: 463px;
	height: 600px;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-radius: 100px 100px 0 0;
	margin-top: 40px;
	margin-left: -85px;
	margin-bottom: 71px;
}

.card-questions {
	display: block;
	object-fit: cover;
	width: 672px;
	height: 100%;
	padding: 0;
	border-radius: 0;

}


.card-img-questions {
	overflow: hidden;
	border-radius: 120px 120px 0 0;
	margin-top: 40px;
	margin-left: auto;
	line-height: 0;
}


.card-hours {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: 0;
	border-radius: 0;

}


.card-img-hours {
	overflow: hidden;
	margin-top: 225px;
	margin-left: -80px;
	line-height: 0;
}



/* ----NEWSLETTER---- */


.input-group {
	margin: 20px 0;
	position: relative;
}

.input-group label {
	position: absolute;
	top: 50%;
	left: 15px;
	font-size: 16px;
	padding: 0 5px;
	}
	

.input-group input {
	width: 565px;
	height: 40px;
	color: #2E2A27;
	font-size: 16px;
	padding: 0 15px;
	border: 2px solid #B45F39;

}

/* ----MEDIA---- */

@media screen and (max-width: 478px) {

	.menu {
		display: none;
	}

	.cta-wrap {
		display: none;
	}

	.hamburger {
		display: flex;
	}


	/* TYPOGRAPHY */

	h1 {
		font-size: 58px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 28px;
	}


	.hero-icon {
		width: 160px;
		position: absolute;
		right: -80px;
		top: -80px;
	}

	.newsletter-form {
		/*display: grid;
		grid-template: 1fr / 1fr;
		gap: 16px;
		align-items: start;*/

		display: block;
	}








